# Docker Compose per test locale Postal DNSBL Monitor
version: '3.1'

services:
  db:
    image: library/mariadb:10.1.41
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: postal
    volumes:
      - ./mariadb-dev/data:/var/lib/mysql
      - ./mariadb-dev/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 5

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - db
